body {
	/* background: #FAEBD7 url('../images/vintage-concrete.png'); */
	background-color: white;
}

a {
	text-decoration: none;
	color: darkgray;
}

a:hover { 
	color: Tomato; 
}

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header {
	background-color: #1D1D1D;
	width: auto;
	color: BlanchedAlmond;
	min-height: 20%;
}

header h1 {
	padding: 30px;
	font-family: 'Lexend Giga', sans-serif;
	font-size: 25pt;
	letter-spacing: 15pt;
	text-transform: uppercase;
	text-align: center;
}


/* Nav styles */
nav { 
	background-color: #1D1D1D;
	width: auto;
	padding-bottom: none;
}

nav ul { 
	display: flex;
	justify-content: center;
}

nav li { 
	padding: 30px;
	font-size: 10pt;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

nav a { 
	color: BlanchedAlmond; 
}

nav a:hover { 
	color: #DCBA5B;
	transition: .3s;
}

hr {
	padding: none;
}

/* Main styles */
main { 
	display: grid;
	grid-template-columns: 60% 40%;
	font-family: 'DM Sans', sans-serif;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	list-style: none;
}

section h2 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: blanchedalmond;
}

aside {
	padding: 40px 0px;
	text-align: right;
}

aside h2 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: blanchedalmond;
}

/* Footer styles */
footer { 
	background-color: #000;
	border-radius: 10px;
	color: white;
	text-align: right;
 }
 
footer p { 
	padding: 20px; 
	font-family: 'Lexend Giga', sans-serif;
	font-size: 10px;
 }