body {
	/* background: #FAEBD7 url('../images/vintage-concrete.png'); */
	background-color: white;
}

a {
	text-decoration: none;
	color: darkgray;
}

a:hover {
	color: #DCDCDC;
	transition: .3s;
}

.active {
	text-decoration: underline;
}

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header {
	background-color: #ff003f;
	width: auto;
	color: #fc0341;
	min-height: 20%;
}

header h1 {
	padding: 30px;
	font-family: eurostile-extended, sans-serif;
	font-weight: 900;
	font-size: 25pt;
	text-transform: uppercase;
	text-align: center;
	color: white;
}


/* Nav styles */
nav { 
	background-color: #ff003f;
	width: auto;
	padding-bottom: none;
}

nav ul { 
	display: flex;
	justify-content: center;
}

nav li { 
	padding: 30px;
	font-size: 10pt;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

nav a { 
	color: white; 
	transition: .3s all ease-in-out;
}

nav a:hover { 
	color: black;
	letter-spacing: 1.5px;
}

/* Main styles */
main { 
	display: grid;
	width: 80%;
	grid-template-columns: 1fr;
	font-family: 'DM Sans', sans-serif;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	list-style: none;
}

section ul li a {
	color: black;
}

section h2 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: #fc0341;
}

aside {
	text-align: right;
	background-color: #1D1D1D;
}

aside h2 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: blanchedalmond;
}

aside a {
	color: white;
}

.aside-container {
	padding: 20px;
}

/* Footer styles */
footer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: auto;
	background-color: gray;
	border-radius: 10px;
	color: white;
	text-align: right;
	margin: 20px;
 }
 
footer p {
	padding: 20px; 
	font-family: 'Lexend Giga', sans-serif;
	font-size: 10px;
 }

 /* Media Queries */
@media only screen and (min-width: 768px) {
	main { 
		grid-template-columns: 60% 40%;
	}
}