body {
	user-select: none;
}

img {
	width: 100%;
}

.logo {
	width: 200px;
	height: 100px;
	margin: 12px;
}

h1 {
	font-family: anton;
	font-size: 50px;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

nav {
	width: 1vw;
}

nav a {
	transition: .3s all;
	display: block;
	width: 200px;
	color: white;
	font-size: 20px;
	font-family: anton, sans-serif;
	text-decoration: none;
	letter-spacing: .5px;
	padding: 10px;
	text-align: center;
	margin: 10px auto;
}

nav a:hover {
	width: 220px;
}

.active {
	width: 230px;
	text-align: right;
}

.nav-gallery {
	background-color: #80ce4e;
}

.nav-about {
	background-color: #5fcbc5;
}

.nav-demo {
	background-color: #e84879;
}

.nav-buy {
	background-color: #e54c1d;
}

.gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gallery-prompt {
	font-family: lato;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	margin-left: 30%;
	margin-top: 25vh;
}

.gallery-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	min-height: 100vh;
}

.gallery-grid-item {
	transition: .3s all;
}

.gallery-grid-item img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.gallery-grid-item:hover {
	outline: 10px solid lightgray;
	outline-offset: -10px;
}

.demo-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.demo-body {
	margin-top: 25vh;
}

.demo-body img {
	position: relative;
	max-height: 50vh;
	width: auto;
}

.demo-case {
	pointer-events: none;
}

.demo-insert {
	height: 37vh;
	margin-left: -17.5vw;
	cursor: n-resize;
}

.buy-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1.5fr;
}

.buy-info {
	margin-top: 25vh;
}

.buy-info ul {
	list-style: disc;
	margin-left: 50px;
}

.buy-button {
	transition: .3s all ease-in-out;
	width: 20vw;
	background-color: #e54c1d;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: anton, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 1.5px;
}

.buy-button:hover {
	cursor: pointer;
	background-color: #d13100;
}

.carousel-container {
	margin: 20px auto;
	width: 23vw;
	height: 600px;
	padding-top: 20px;
	text-align: center;
	margin-top: 20vh;
}

.carousel-container p {
	color: gray;
	font-family: lato, sans-serif;
	font-weight: 300;
	size: 50px;
}

.carousel-item {
	height: 100%;
	width: auto;
}

.slick-slide {
	outline: none;
}

.slick-slide img {
	width:100%;
	margin-top: 60px;
}

.slick-dots {
	display: inline-flex;
	list-style: none;
	background-color: blue;
}