html, {
	animation: fadein .3s ease-in-out;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

body {
	user-select: none;
}

img {
	width: 100%;
}

.logo {
	width: 200px;
	height: 100px;
	margin: 12px;
}

h1 {
	font-family: anton;
	font-size: 50px;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

nav {
	width: 1vw;
}

nav a {
	transition: .3s all;
	display: block;
	width: 200px;
	color: white;
	font-size: 20px;
	font-family: anton, sans-serif;
	text-decoration: none;
	letter-spacing: .5px;
	padding: 10px;
	text-align: center;
	margin: 10px auto;
}

nav a:hover {
	width: 220px;
}

.active {
	width: 230px;
	text-align: right;
}

.nav-gallery {
	background-color: #80ce4e;
}

.nav-about {
	background-color: #5fcbc5;
}

.nav-demo {
	background-color: #e84879;
}

.nav-buy {
	background-color: #e54c1d;
}

.gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gallery-prompt {
	font-family: lato;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	margin-left: 30%;
	margin-top: 25vh;
}

.gallery-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	min-height: 90vh;
	margin-top: 50px;
}

.gallery-link {
	text-decoration: none;
	color: white;
}

.gallery-grid img {
	max-height: 100%;
	max-width: 100%;
}

.gallery-grid p {
	text-align: center;
}

.gallery-grid-item {

}

.gallery-grid-item img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.gallery-grid-item:hover {
	outline: 10px solid lightgray;
	outline-offset: -10px;
}

.gallery-label {
	display: none;
	font-family: anton;
	font-weight: 300;
	font-size: 30px;
	display: none;
}

.gallery-label-sub {
	font-family: lato;
	font-size: 16px;
}

.gallery-label-active {
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: rgba(0,0,0,.7);
	display: block;
	transform: translateY(-200px);
}

.about-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about-prompt {
	position: fixed;
	font-family: anton;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	margin-left: 18%;
	margin-top: 20vh;
	text-align: center;
}

.about-body {
	height: 250vh;
	margin-left: 50vw;
	overflow: hidden;
	width: 100%;
}

.about-item {
	margin-top: 20vh;
	position: sticky;
	top: 0;
}

.about-item img {
	height: 19%; 
	width: auto;  
	margin-left: 10%;
}

.about-weave {
	transform: rotate(-20deg);
}

.about-item p {
	display: inline;
	font-family: lato;
	font-size: 30px;
	margin-left: 50%;
}

.demo-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.demo-block {
	background-color: white; 
	z-index: 3; 
	position: absolute; 
	right: 0; 
	bottom: 0;
	width: 100%;
	height: 25.25vh;
}

.about-prompt {
	position: fixed;
	font-family: anton;
	font-weight: 300;
	font-size: 30px;
	line-height: 35px;
	margin-left: 25%;
	margin-top: 15vh;
}

.demo-body {
	margin-top: 25vh;
}

.demo-body img {
	position: absolute;
	width: auto;
}

.demo-lid {
	max-height: 26.5vh;
	margin-top: .5vw;
	margin-left: -.2vw;
	transform-origin: bottom right;
}

#draggable-lid {
	transform: rotate(90deg);
}

.demo-case {
	pointer-events: none;
	cursor: n-resize;
	max-height: 50vh;
}

.demo-insert {
	max-height: 37vh;
	margin-top: 13vh;
	margin-left: 5vw;
	cursor: n-resize;
}

.demo-block {
	overflow: hidden;
	pointer-events: none;
}

.buy-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1.5fr;
}

.buy-info {
	margin-top: 25vh;
}

.buy-info ul {
	list-style: disc;
	margin-left: 50px;
}

.buy-link {
	text-decoration: none;
}

.buy-button {
	transition: .3s all ease-in-out;
	width: 20vw;
	background-color: #e54c1d;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: anton, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 1.5px;
}

.buy-button:hover {
	cursor: pointer;
	background-color: #d13100;
}

.buy-button a {
	text-decoration: none;
	color: white;
}

.carousel-container {
	animation: slidein .5s;
	margin: 20px auto;
	width: 23vw;
	height: 600px;
	padding-top: 20px;
	text-align: center;
	margin-top: 20vh;
}

@keyframes slidein {
	from { transform: translateX(600px); }
	to   { transform: none; }
}

.carousel-container p {
	color: gray;
	font-family: lato, sans-serif;
	font-weight: 300;
	size: 50px;
}

.carousel-item {
	height: 100%;
	width: auto;
}

.carousel-buttons {
	margin-top: -75px;
}

.left, .right {
	margin: auto 20px;
	display: inline;
	font-size: 50px;
	font-weight: 700;
}

.slick-slide {
	outline: none;
}

.slick-slide img {
	width:100%;
	margin-top: 60px;
}