body {
	user-select: none;
}

img {
	width: 100%;
}

.logo {
	width: 200px;
	height: 100px;
	margin: 12px;
}

h1 {
	font-family: anton;
	font-size: 50px;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

nav {
	width: 1vw;
}

nav a {
	transition: .3s all;
	display: block;
	width: 200px;
	color: white;
	font-size: 20px;
	font-family: anton, sans-serif;
	text-decoration: none;
	letter-spacing: .5px;
	padding: 10px;
	text-align: center;
	margin: 10px auto;
}

nav a:hover {
	width: 250px;
}

.active {
	width: 275px;
	text-align: right;
}

#nav-gallery {
	background-color: #80ce4e;
}

#nav-about {
	background-color: #5fcbc5;
}

#nav-demo {
	background-color: #e84879;
}

#nav-buy {
	background-color: #e54c1d;
}

.gallery-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gallery-prompt {
	font-family: lato;
	font-weight: 300;
	font-size: 30px;
	margin-left: 30%;
	margin-top: 25vh;
}

.gallery-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	min-height: 100vh;
}

.gallery-grid-item {
	transition: .3s all;
}

.gallery-grid-item img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.gallery-grid-item:hover {
	outline: 10px solid lightgray;
	outline-offset: -10px;
}

.buy-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.buy-info {
	margin-top: 25vh;
}

.carousel-container {
	background-color: gray;
	margin: 20px auto;
	width: 400px;
	height: 400px;
	padding-top: 20px;
	text-align: center;
	margin-top: 25vh;
}

.carousel-container p {
	color: white;
	font-family: sans-serif;
	size: 50px;
}

.slick-slide {
	outline: none;
}

.slick-slide img {
	width:100%;
	margin-top: 60px;
}