html {
	animation: fadein 2.5s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

img {
	height: 100%;
}

.start-master-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
}

.start-header {
	position: relative;
	margin-left: 150px;
	top: 30vh;
	color: white;
	font-family: chapman-extended, sans-serif;
	font-size: 60px;
	font-style: italic;
	text-decoration: none;
	white-space: nowrap;
}

.start-subheader {
	font-size: 20px;
	font-style: normal;
}

.start-link {
	position: relative;
	margin-left: 150px;
	top: 50vh;
	color: white;
	font-family: chapman-extended, sans-serif;
	font-size: 30px;
	text-decoration: none;
	white-space: nowrap;
	opacity: .3;
	transition: all 0.3s ease-in-out 0s;
}

.start-link:hover {
	color: white;
	opacity: 1;
}

.start-link:before {
	color: white;
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.start-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.start-illustration {
	top: 0px;
	right: 0px;
}

@keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 3404.8974609375px;
		stroke-dasharray: 3404.8974609375px;
	}

	100% {
		stroke-dashoffset: 0;
		}
	}

@keyframes animate-svg-fill-1 {
	0% {
		fill: transparent;
	}

	100% {
		fill: rgb(255, 255, 255);
	}
}

.svg-elem-1 {
	animation: animate-svg-stroke-1 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
			   animate-svg-fill-1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}


.part1-master-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	overflow-x: hidden;
	background-image: url(../images/background4.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.part2-master-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	overflow-x: hidden;
	height: 100vh;
}

.page1 {
	height: 100vh;
	overflow: hidden;
}

.page1 p {
	margin-left: 180px;
	margin-top: 400px;
	font-family: chapman, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: 40px;
	line-height: 50px;
}

.page2 {
	height: 100vh;
	overflow: hidden;
}

.page2 p {
	margin-left: 180px;
	margin-top: 400px;
	font-family: chapman, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: 40px;
	line-height: 50px;
}

.continue-container {
	position: absolute;
	top: 210vh;
	left: 44vw;
}

.continue-link {
	font-family: chapman-extended, sans-serif;
	font-weight: 400;
	color: black;
	font-size: 40px;
	text-decoration: none;
	color: darkblue;
}

.continue-link:before {
	color: darkblue;
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: darkblue;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.continue-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.page3 {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	white-space: nowrap;
	transition: 2s all;
}

.page3 p {
	margin-top: 35vh;
	margin-left: 80px;
	font-family: chapman, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: 40px;
	line-height: 50px;
}

#sunset-img {
	background-size: cover;
	background-repeat: no-repeat;
}

#page3lines-container {
	background-size: cover;
	background-repeat: no-repeat;
}

#page3lines {
	opacity: 0; 
	margin-top: 50px;
}

.draggable {
	cursor: n-resize;
	max-height: 100px;
	top: 40vh;
	right: -16vw;
}

#hill {
	position: absolute; 
	bottom: 0; 
	pointer-events: none;
}

/*STAR STUFF*/

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;
  animation:move-twink-back 300s linear infinite;
}