.start-master-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	background-color: #00526e;
}

.start {

}

.start-link {
	position: relative;
	margin-left: 50px;
	color: white;
	font-family: chapman-extended, sans-serif;
	font-size: 30px;
	line-height: 50vh;
	text-decoration: none;
}

.start-link:hover {
	color: white;
}

.start-link:before {
	color: white;
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.start-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.start-illustration-placeholder {
	background-color: gray;
}

.part1-master-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
}

.part2-master-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
}

.page1 {
	background-color: lightblue;
	min-height: 100vh;
	overflow: hidden;
}

.page1 p {
	margin-left: 80px;
	margin-top: 400px;
	font-family: chapman, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: 40px;
	line-height: 50px;
}

.page2 {
	background-color: lightgreen;
	min-height: 100vh;
	overflow: hidden;
}

.page2 p {
	margin-top: 400px;
	margin-left: 80px;
	font-family: chapman, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: 40px;
	line-height: 50px;
}

.continue-container {
	position: absolute;
	top: 2100px;
	text-align: right;
	right: 10px;
}

.continue-link {
	font-family: chapman-extended, sans-serif;
	font-weight: 400;
	color: black;
	font-size: 40px;
	text-decoration: none;
	position: relative;
	margin-left: 50px;
	color: darkblue;
}

.continue-link:before {
	color: darkblue;
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: darkblue;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

.continue-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.page3 {
	background-color: darkblue;
	min-height: 100vh;
	overflow: hidden;
}

.page3 p {
	margin-top: 50vh;
	margin-left: 80px;
	font-family: chapman, sans-serif;
	font-weight: 400;
	font-style: italic;
	color: white;
	font-size: 40px;
}

.drop-container {
	position: absolute;
	top: 50vh;
	background-color: gray; 
	border: 1px solid red;
	width: 100%;
	margin: auto;
	height: 300px;
}

.dragcomplete {
	color: red;
}

#draggable {
	cursor: n-resize;
}

.start, .page1, .page2, .continue {
	padding: 20px;
	text-decoration: none;
}